/* adding font Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

/* common styles */
:root {
  /* main font-size */
  font-size: 15px;
  /* main color */
  --main-color: rgb(194,7,165);
  --main-lin-gradient: linear-gradient(90deg, rgba(194,7,165,1) 0%, rgba(13,41,175,1) 100%);
}

* {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  box-sizing: border-box;
}

.shadowed {
  -webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .5);
}

.main-bg-color {
  background: var(--main-color);
  background: var(--main-lin-gradient);
}

label.required::before {
  content: "*";
  color: red;
}

.feedback-message {
  text-align: justify;
  font-size: 13px;
}

::placeholder {
  font-size: 13px;
  font-weight: 400;
}
/* common styles */

main {
  height: 100vh;
}

section {
  width: 40%;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
}

.progress-bar-wrapper {
  height: 25px;
  padding: 2px;
  border-radius: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: inherit;
}

.progress {
  height: 100%;
  width: 0;
  transition: width .75s;
  border-radius: inherit;
}

.progress-step {
  height: 275px;
}

.success-message {
  color: #28a745;
  font-weight: 600;
}

.success-icon {
  font-size: 60px;
}

button[type=submit] {
  width: 120px;
}

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
